@use '../variables';
@import '../mixins';

.checkBoxContainer {
  margin: 1rem 0;
  @include breakpoint(medium) {
    margin: 1.5rem 0;
  }
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label {
  margin-right: 1.6875rem;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.333em;
  @include breakpoint(medium) {
    margin-right: 3.5625rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
  }
}

.nativeInput {
  display: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customInput {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid variables.$color-dark-blue;
  border-radius: 5px;
  box-shadow: variables.$shadow;
  @include breakpoint(medium) {
    height: 1.5625rem;
    width: 1.5625rem; 
  }
}

.checkmark {
  display: none;
  width: .875rem;
  height: .875rem;
  fill: none;
  & path {
    stroke: variables.$color-dark-blue;
    stroke-width: 2;
  }
}

.checkmarkisVisible {
  display: block;
}