@use '../variables';
@import '../mixins';

.rangeSliderContainer {
  @include breakpoint(small) {
    margin-bottom: 1rem;
  }
}

.label {
  margin-bottom: 1.6875rem;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.333em;
  @include breakpoint(medium) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
  }
}