// Colors
$color-inverse: #ffffff;
$color-gray: #F2F2F2;
$color-yellow: #F6F0C6;
$color-yellow-medium: #E9F5F1;
$color-green: #A5D9C8;
$color-dark-blue: #020056;
$color-green-yellow-gradient: linear-gradient(270deg, #F6F0C6 0%, #D9135D 0.01%, rgba(214, 19, 92, 0.996895) 0.02%, #F6F0C6 0.03%, #A6D9C8 80.73%, #A5D9C8 100%);